.Ai {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  .rank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    width: 100%;
    .rank-title {
      font-size: 18px;
      font-weight: 600;
      margin: 0;
    }
    .rank-num {
      font-size: 45px;
      font-weight: 600;
      margin: 0;
    }
  }
  .analysis {
    background-color: #d8f066;
    max-width: 300px;
    width: 100%;
    padding: 15px;
    min-height: 100px;
    max-height: 100px;
    min-width: 350px;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;

    .title {
      font-size: 20px;
      margin: 0;
    }
    .beta {
      font-size: 20px;
      margin: 0;
      color: white;
    }
  }
  .summary {
    margin-top: 5px;
    font-weight: 500;
    font-size: 13px;
    text-align: left;
  }
  .lds-roller {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: -40px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    margin: -2px 0 0 -2px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
