.Chart {
  display: flex;
  flex-direction: column;

  padding-top: 40px;
  justify-content: center;
  h1 {
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    margin-left: 20px;
  }
  h2 {
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    margin-left: 20px;
  }
  canvas {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
}
