html {
  background-color: #efefef;
  font-family: Roboto;
}

.logo {
  font-size: 25px;
  position: absolute;
  top: 0;
  margin-top: 40px;
  margin-left: 40px;
}

.title-rg {
  font-family: Roboto;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.link-icon {
  height: 15px;
  width: 15px;
}

.grid-icon {
  height: 30px;
  width: 30px;
}

.search-icon {
  height: 15px;
  width: 15px;
}

.dollar-sign-icon {
  height: 45px;
  width: 45px;
}
