.Ticker {
  .title {
    color: white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    margin-top: 10px;
  }
  .symbol {
    margin: 0;
    font-size: 55px;
    font-weight: 600;
  }
  .name {
    margin: 0;
    font-weight: 600;
  }
}
